<h1>DATA TYPES</h1>

<h3>Basic DATA TYPES Declaration</h3>

<h4>int</h4>

In [44]:
int_x=8
print(int_x)

8

<h4>float</h4>

In [45]:
float_x=98.8678
print(float_x)

98.8678

<h4>str</h4>

In [46]:
str_x='string 1'
print(str_x)

string 1

<h4>bool</h4>

In [50]:
bool_x=True
bool_y=False
print(bool_x,bool_y)

True False

<h3>Typecasting</h3>

<h4>int => float,str,bool</h4>

In [ ]:
int_y=7
print('float(int_y): ',float(int_y))
print('str(int_y): ',str(int_y))
print('bool(int_y): ',bool(int_y))

float(int_y):  7.0
str(int_y):  7
bool(int_y):  True

<h4>float => int,str,bool</h4>

In [61]:
float_y=7.9876
print('int(float_y): ',int(float_y))
print('str(float_y): ',str(float_y))
print('bool(float_y): ',bool(float_y))

int(float_y):  7
str(float_y):  7.9876
bool(float_y):  True

<h4>str => int,float,bool</h4>

<h5>1. str declared with integer numeric value</h5>

In [65]:
str_y='798'
print('int(str_y): ',int(str_y))
print('float(str_y): ',float(str_y))
print('bool(str_y): ',bool(str_y))

int(str_y):  798
float(str_y):  798.0
bool(str_y):  True

<h5>2. str declared with non-numeric values</h5>

In [73]:
str_a_with_truly_nonNumeric_value='Hello'
print('bool(str_a_with_truly_nonNumeric_value): ',bool(str_a_with_truly_nonNumeric_value))
print('int(str_a_with_truly_nonNumeric_value): ',int(str_a_with_truly_nonNumeric_value))
print('float(str_a_with_truly_nonNumeric_value): ',float(str_a_with_truly_nonNumeric_value))

bool(str_a_with_truly_nonNumeric_value):  True

ValueError: invalid literal for int() with base 10: 'Hello'

<h5>3. str declared with numeric but non-integer values</h5>

In [74]:
str_a_with_numeric_but_nonInteger_value='98.987'
print('float(str_a_with_numeric_but_nonInteger_value): ',float(str_a_with_numeric_but_nonInteger_value))
print('bool(str_a_with_numeric_but_nonInteger_value): ',bool(str_a_with_numeric_but_nonInteger_value))
print('int(str_a_with_numeric_but_nonInteger_value): ',int(str_a_with_numeric_but_nonInteger_value))

float(str_a_with_numeric_but_nonInteger_value):  98.987
bool(str_a_with_numeric_but_nonInteger_value):  True

ValueError: invalid literal for int() with base 10: '98.987'

<h4>bool => int,float,str</h4>

In [75]:
bool_x_true=True
print('int(bool_x_true): ',int(bool_x_true))
print('float(bool_x_true): ',float(bool_x_true))
print('str(bool_x_true): ',str(bool_x_true))
bool_y_false=False
print('int(bool_y_false): ',int(bool_y_false))
print('float(bool_y_false): ',float(bool_y_false))
print('str(bool_y_false): ',str(bool_y_false))

int(bool_x_true):  1
float(bool_x_true):  1.0
str(bool_x_true):  True
int(bool_y_false):  0
float(bool_y_false):  0.0
str(bool_y_false):  False

In [34]:
#comment 1
'''comment'''

'comment'

<h1>TESTING AREA</h1>

<h6>Test1</h6>

In [4]:
x,y,z=7,8,'hello'
print(x)
print(y)
print(z)

7
8
hello

<h6>Test2</h6>

In [9]:
fruits=['apple','banana','cherry']
a,b,c=fruits
print(a)
print(b)
print(c)

apple
banana
cherry

In [10]:
fruits=['apple','banana','cherry']
a,b,c,d=fruits
print(a)
print(b)
print(c)
print(d)

ValueError: not enough values to unpack (expected 4, got 3)

In [23]:
x='hello'
y='global y'
def greet():
    global x
    x='Hii'
    global y
    y=7
    print(y)
greet()
print(y)
print(x+' Divyam')

7
7
Hii Divyam